@font-face {
  font-family: "relative-bold";
  src: url("relative-bold.eot");
  src: url("relative-bold.eot?#iefix") format("embedded-opentype"),
    url("relative-bold.woff") format("woff"),
    url("relative-bold.woff2") format("woff2"),
    url("relative-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
